body {
    font-family: Arial, sans-serif;
    background-color: #969696; /* Light grey background */
    color: #282828; /* Dark text color */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
}

/* General button styling */
.button {
    background-color: #acacac; /* Grey background */
    color: #000000; /* Black text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

/* Button hover effect */
.button:hover {
    background-color: #ff9d00; /* Burnt orange on hover */
}

/* Link styling */
a {
    text-decoration: underline;
    color: #000000; /* Black text */
    transition: color 0.3s ease;
}

/* Link hover effect */
a:hover {
    color: #000000; /* Maintaining black on hover for readability */
}

/* Container for centering content */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Search container */
.search-container {
    position: relative;
    margin-top: 20px;
    margin-left: 760px;
}

/* Search input field */
.search-input {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: #000000;
}

/* Search icon styling */
.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 200px;
    color: #ff9d00; /* Burnt orange icon */
}

/* Search input hover effect */
.search-input:hover {
    background-color: #ff9d00; /* Burnt orange on hover */
    transition: background-color 0.3s ease;
}
